.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(50, 50, 50, 0.8);
    border-radius: 50px 0 0 50px;

    span {
        margin-left: 16px;
        font-size: 32px;
    }

    img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-active {
    background-color: orange !important;
}