.player {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(50, 50, 50, 0.8);
    border-radius: 0 50px 50px 0;
    overflow: hidden;

    span {
        height: 24px;
        margin-left: 16px;
        font-size: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-active {
    background-color: orange !important;
}