.start-screen {
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    background-color: #404040;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        height: 100vh;
        max-height: 100%;
        /* max-width: 100%; */
    }
}

.start-label-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        height: auto;
        width: 500px;
        cursor: pointer;

        /* ========== RESPONSIVE ========== */
        @media ((max-height:760px) OR (max-width:525px)) {
            width: 400px;
        }

        @media ((max-height:580px) OR (max-width:455px)) {
            width: 300px;
        }

        @media ((max-height:430px) OR (max-width:325px)) {
            width: 200px;
        }
        /* ========== RESPONSIVE ========== */

        &:hover {
            filter: brightness(1.25);
        }
    }
}