.player {
    width: 100px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(50, 50, 50, 0.8);
    border-radius: 0px 0px 50px 50px;

    span {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-active {
    background-color: orange !important;
}